.rede-container{
    width: 260px;
    height: 110px;
    border: solid black 1px;
    margin-left: 110px;
    margin-top: 100px;
}

.input{
    width: 230px;
    height: 60px;
    margin-left: 10px;
}

.button {
    margin-left: 10px;
}

.face{
    margin-right: 10px;
}